<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <style>
        body{
            background-color: #7582F1;
            color: #fff;
            margin: 0;
            font-family: sans-serif;
        }
        form{
            margin: auto;
            width: 50%;
            padding: 20px;
            border: 1px solid #ddd;
        }
        h1{
            text-align: center;
        }
        label{
            display: block;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<h1>Editar producto</h1>
<form th:action="@{'/inventario/actualizar/' + ${producto.id}}" method="post">
    <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" th:value="${producto.nombre}" required>
    </div>
    <div>
        <label>Precio</label>
        <input type="number" name="precio" th:value="${producto.precio}" required>
    </div>

    <button type="submit">Actualizar</button>
</form>

</body>
</html>